@import "_variables.scss";

.about {
  background-color: color(primary);
  width: 100%;
  height: 50rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.aboutbox {
  background-color: color(dark-primary);
  color: color(primary);
  border-radius: 5rem;
  width: 60rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aboutimg {
  width: 50rem;
  border-radius: 5rem;
}

.abouthead {
  font-family: $fontBRS;
  font-size: 3rem;
}

.abouttext {
  font-family: $fontBRS;
  font-size: 2rem;
}
