@import "_variables.scss";

.about {
  background-color: color(primary);
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  flex-wrap: wrap;
}

.aboutbox {
  background-color: color(dark-primary);
  color: color(primary);
  border-radius: 5rem;
  width: 50%;
  margin: 5rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
}

.aboutimg {
  width: 30%;
  border-radius: 5rem;
  filter: blur(3px);
  margin: 5rem 5rem 5rem 5rem;
  transition: all 1s;
}

.aboutimg:hover {
  transform: scale(1.1);
  filter: blur(0);
  filter: contrast(120%);
}

.abouthead {
  font-family: $fontBRS;
  font-size: 3rem;
}

.abouttext {
  font-family: $fontBRS;
  font-size: 2rem;
}

@media screen and (max-width: 900px) {
  .aboutbox {
    width: 95%;
    height: auto;
  }

  .aboutimg {
    width: 70%;
  }
}
