@import "_variables.scss";

.delivery-takeout{
    background-color: color(dark-primary);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.forms{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

