@import "_variables.scss";

.delivery-takeout{
    background-color: color(dark-primary);
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: $fontBRS;

}

.delivery-takeout-text{
    margin: 3rem 0rem 5rem;
    color: #fff;
    font-size: 5rem;
}


.forms{
    width:50%;
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
    color: color(primary);
    background-color: purple;
}

.box{
    height: 3rem;
    border-radius: 0.5rem;
}

.select-text{
    font-size: 3rem;
    margin: 5rem;
    background-color: gray;

}

.menu-selection{
    background-color: blue;
    height: 30rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    width: 40rem;
}

.options{
    font-size: 2rem;
    background-color: yellow;
    transform: translate(5rem);
    width: 30rem;

}