@import "_variables.scss";

.background {
  background-color: black;
  width: 100%;
  height: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.extra {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 1rem;
}

.listed {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer {
  font-size: 1.5rem;
  color: white;
  font-family: $fontFOOTER;
}

.footer a:visited {
  color: white;
}

.footer a:hover {
  color: rgb(123, 191, 255);
}
.icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: 2rem;
}

.media-button {
  width: 4rem;
  filter: grayscale(100%);
}

.media-button:hover {
  filter: contrast(150%);
}

.logo {
  width: 8rem;
  margin: 4rem;
}
