@import "_variables.scss";

.locations {
  background-color: color(primary);
  height: 100vh;
  width: 100vw;
  display: flex;
  font-family: $fontBRS;
}

.hours {
  background-color: color(light-box);
  width: 40rem;
  height: 20rem;
  padding: 0 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3rem;
}

.address {
  background-color: color(dark-box);
  clip-path: polygon(100% 0, 100% 60%, 75% 100%, 25% 100%, 0 60%, 0 0);
  width: 40rem;
  height: 22rem;
  padding: 1rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  border-radius: 0.3rem;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 100vh;
}

.right {
  width: 40vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left-width: 0.15rem;
  border-color: black;
  border-left-style: solid;
}

.right-head {
  font-size: 2rem;
  background-color: white;
  width: 20rem;
  text-align: center;
  padding: 1.5rem;
  margin-top: 4.5rem;
  text-decoration: underline;
  border-radius: 0.5rem;
}

.other-locations {
  height: 70vh;
  width: 25vw;
  background-color: #fff;
  margin: 2rem;
  border-radius: 0.75rem;
}

.head-text {
  font-size: 2.75rem;
}

.info {
  font-size: 2rem;
}
