@import "_variables.scss";

.chef-menu {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.chef {
  width: 346px;
  height: 229px;
}

.brs {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
}

.chef:hover .brs {
  transform: rotateY(180deg);
}

.brs .back {
  background-color: color(primary);
  color: black;
  transform: rotateY(180deg);
  justify-content: center;
  font-family: $fontBRS;
  font-size: 1.2rem;
  backface-visibility: hidden;
}

.brs .front {
  backface-visibility: hidden;
}

.brs figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.brsimg {
  border-radius: 10px;
}

.csdish {
  font-size: 3rem;
  text-decoration: underline;
  font-weight: bold;
}

/*sushi deluxe below*/

.chefsd {
  width: 346px;
  height: 229px;
}

.sd {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
}

.chefsd:hover .sd {
  transform: rotateY(180deg);
}

.sd .back {
  background-color: color(primary);
  color: black;
  transform: rotateY(180deg);
  justify-content: center;
  font-family: $fontBRS;
  font-size: 1.2rem;
  backface-visibility: hidden;
}

.sd .front {
  backface-visibility: hidden;
}

.sd figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sdimg {
  border-radius: 10px;
}

/*Sashimi deluxe below*/

.chefssd {
  width: 346px;
  height: 229px;
}

.ssd {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
}

.chefssd:hover .ssd {
  transform: rotateY(180deg);
}

.ssd .back {
  background-color: color(primary);
  color: black;
  transform: rotateY(180deg);
  justify-content: center;
  font-family: $fontBRS;
  font-size: 1.2rem;
  backface-visibility: hidden;
}

.ssd .front {
  backface-visibility: hidden;
}

.ssd figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ssdimg {
  border-radius: 10px;
}

/*chef box*/

.chef-box {
  height: 65vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: color(dark-primary);
  flex-direction: column;
  border-radius: 20px;
  margin: 2rem;
}

.chef-choice {
  font-family: $fontBRS;
  font-size: 4rem;
  color: white;
}

/*rest below*/

.menu {
  height: 225vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: color(primary);
  flex-direction: column;
  border-radius: 40px;
  border: 5px solid color(dark-primary);
}

.menuhead {
  font-family: $fontBRS;
  font-size: 5rem;
  color: color(dark-primary);
}

/*menurest below*/

.menurest {
  width: 90%;
  height: 50vh;
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  /*flex-wrap: ;*/ //maybe//
}

/*zensai*/

.zen {
  width: 500px;
  height: 350px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zensai-appetizer {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
}

.zen:hover .zensai-appetizer {
  transform: rotateY(180deg);
}

.zensai-appetizer .front {
  background-color: color(dark-primary);
  color: color(primary);
  font-family: $fontBRS;
  font-size: 2rem;
  align-items: center;
  outline: 3px solid color(primary);
  outline-offset: -6px;
  backface-visibility: hidden;
}

.zensai-appetizer .back {
  background-color: color(primary);
  color: color(dark-primary);
  transform: rotateY(180deg);
  justify-content: center;
  font-family: $fontBRS;
  font-size: 3rem;
  outline: 2px solid color(dark-primary);
  backface-visibility: hidden;
}

.zensai-appetizer figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*sushi sashi*/

.susa {
  width: 500px;
  height: 350px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sushi-to-sashimi {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
}

.susa:hover .sushi-to-sashimi {
  transform: rotateY(180deg);
}

.sushi-to-sashimi .front {
  background-color: color(dark-primary);
  color: color(primary);
  font-family: $fontBRS;
  font-size: 2rem;
  outline: 3px solid color(primary);
  outline-offset: -6px;
  backface-visibility: hidden;
}

.sushi-to-sashimi .back {
  background-color: color(primary);
  color: color(dark-primary);
  transform: rotateY(180deg);
  justify-content: center;
  font-family: $fontBRS;
  font-size: 3rem;
  outline: 2px solid color(dark-primary);
  backface-visibility: hidden;
}

.sushi-to-sashimi figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*maki special*/

.mak {
  width: 500px;
  height: 350px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.maki-special-rolls {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
}

.mak:hover .maki-special-rolls {
  transform: rotateY(180deg);
}

.maki-special-rolls .front {
  background-color: color(dark-primary);
  color: color(primary);
  font-family: $fontBRS;
  font-size: 2rem;
  outline: 3px solid color(primary);
  outline-offset: -6px;
  backface-visibility: hidden;
}

.maki-special-rolls .back {
  background-color: color(primary);
  color: color(dark-primary);
  transform: rotateY(180deg);
  justify-content: center;
  font-family: $fontBRS;
  font-size: 3rem;
  outline: 2px solid color(dark-primary);
  backface-visibility: hidden;
}

.maki-special-rolls figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*yasai rolls*/

.ya {
  width: 500px;
  height: 350px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yasai-vegetable-rolls {
  height: 100%;
  width: 100%;
  transition: all 1s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: space-around;
}

.ya:hover .yasai-vegetable-rolls {
  transform: rotateY(180deg);
}

.yasai-vegetable-rolls .front {
  background-color: color(dark-primary);
  color: color(primary);
  font-family: $fontBRS;
  font-size: 2rem;
  outline: 3px solid color(primary);
  outline-offset: -6px;
  backface-visibility: hidden;
}

.yasai-vegetable-rolls .back {
  background-color: color(primary);
  color: color(dark-primary);
  transform: rotateY(180deg);
  justify-content: center;
  font-family: $fontBRS;
  font-size: 3rem;
  outline: 2px solid color(dark-primary);
  backface-visibility: hidden;
}

.yasai-vegetable-rolls figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
