@import "_variables.scss";

/*.navbar {
  background-color: color(primary);
  color: color(dark-primary);
  border-radius: 0 0 3rem 3rem;
  font-family: $fontBRS;
}

.navitems {
  padding: 3rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.category:hover {
  border-top: solid 3px color(dark-primary);
  border-bottom: solid 3px color(dark-primary);
  transform: scale(1.2);
  transition: all 0.7s;
  letter-spacing: 2px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: color(dark-primary);
  text-decoration: none;
  font-size: 3rem;
}*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $fontBRS;
}

nav {
  height: 5rem;
  background: color(dark-primary);
}

nav h1 {
  position: absolute;
  width: 20rem;
  top: 8px;
  left: 5%;
  color: color(primary);
}

nav ul {
  float: right;
  margin-right: 2.5rem;
  list-style: none;
}

nav ul li {
  display: inline-block;
  line-height: 5rem;
  margin: 0 1.5rem;
}

nav ul li a {
  position: relative;
  padding: 5px 0;
  color: color(primary);
  font-size: 2.5rem;
  text-decoration: none;
}

label #sign-one,
label #sign-two {
  font-size: 3rem;
  color: color(primary);
  float: right;
  line-height: 5rem;
  margin-right: 3rem;
  cursor: pointer;
  display: none;
}

#res-menu {
  display: none;
}

@media (max-width: 87rem) {
  label #sign-one {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: green;
    top: 5rem;
    left: -100%;
    text-align: center;
    transition: 0.5s;
    z-index: 10;
  }
  nav ul li {
    display: block;
    margin: 4rem 0;
    line-height: 3rem;
  }
  nav ul li a {
    font-size: 2rem;
  }
  #res-menu:checked ~ ul {
    left: 0;
  }
  #res-menu:checked ~ label #sign-one {
    display: none;
  }
  #res-menu:checked ~ label #sign-two {
    display: block;
  }
}
