@import "_variables.scss";

.container {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.main-header {
  height: 35vh;
  background-image: linear-gradient(
      to bottom,
      rgba(color(primary), 0.5),
      rgba(color(dark-primary), 0.8)
    ),
    url(img/headback.jpg);
  background-size: cover;
  color: color(primary);
  font-size: 4rem;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: $fontBRS;
  letter-spacing: 1rem;
  text-shadow: color(dark-primary) 4px 4px;
}

.navbar {
  background-color: color(primary);
  color: color(dark-primary);
  border-radius: 0 0 3rem 3rem;
  font-family: $fontBRS;
}

.navitems {
  padding: 3rem;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.category:hover {
  border-top: solid 3px color(dark-primary);
  border-bottom: solid 3px color(dark-primary);
  transform: scale(1.2);
  transition: all 0.7s;
  letter-spacing: 2px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: color(dark-primary);
  text-decoration: none;
  font-size: 3rem;
}
