html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$fontBRS: ("Poor Story", cursive);

$colors: (
  primary: #fff175,
  dark-primary: #ca3d00,
  light-primary: #ca3d00,
  dark-box: #742f4c,
  light-box: #ead2d2,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
