html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$fontBRS: ("Poor Story", cursive);

$colors: (
  cream: #fff175,
  scarlet: #ca3d00,
  grape: #742f4c,
  lilac: #ead2d2,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
