html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: color(dark-primary);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ca3d00;
}

.container {
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.main-header {
  height: 35vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 241, 117, 0.5)), to(rgba(202, 61, 0, 0.8))), url(img/headback.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 241, 117, 0.5), rgba(202, 61, 0, 0.8)), url(img/headback.jpg);
  background-size: cover;
  color: #fff175;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poor Story", cursive;
  letter-spacing: 1rem;
  text-shadow: #ca3d00 4px 4px;
}

.navbar {
  background-color: #fff175;
  color: #ca3d00;
  border-radius: 0 0 3rem 3rem;
  font-family: "Poor Story", cursive;
}

.navitems {
  padding: 3rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.category:hover {
  border-top: solid 3px #ca3d00;
  border-bottom: solid 3px #ca3d00;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
  letter-spacing: 2px;
}

.navbar li {
  display: inline;
}

.navbar a {
  color: #ca3d00;
  text-decoration: none;
  font-size: 3rem;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ca3d00;
}

.chef-menu {
  width: 100%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chef {
  width: 35rem;
  height: 17rem;
}

.brs {
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.chef:hover .brs {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.brs .back {
  background-color: #fff175;
  color: black;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poor Story", cursive;
  font-size: 1rem;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.brs .front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.brs figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.brsimg {
  border-radius: 10px;
  height: 17rem;
}

.csdish {
  font-size: 3rem;
  text-decoration: underline;
  font-weight: bold;
}

/*chef box*/
.chef-box {
  height: 60vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ca3d00;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  margin: 2rem;
  outline: 5px solid #ca3d00;
  outline-offset: 5px;
}

.chef-choice {
  font-family: "Poor Story", cursive;
  font-size: 4rem;
  color: white;
}

/*rest below*/
.menu {
  height: 225vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff175;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 40px;
  border: 5px solid #ca3d00;
}

.menuhead {
  font-family: "Poor Story", cursive;
  font-size: 5rem;
  color: #ca3d00;
}

/*menurest below*/
.menurest {
  width: 90%;
  height: 50vh;
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*zensai*/
.card {
  width: 50rem;
  height: 35rem;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardc {
  height: 100%;
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card:hover .cardc {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.cardc .front {
  background-color: #ca3d00;
  color: #fff175;
  font-family: "Poor Story", cursive;
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: 3px solid #fff175;
  outline-offset: -6px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardc .back {
  background-color: #fff175;
  color: #ca3d00;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Poor Story", cursive;
  font-size: 3rem;
  outline: 2px solid #ca3d00;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cardc figure {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ca3d00;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel {
  position: relative;
  height: 80vh;
  width: 50vw;
  margin: 5rem auto;
  /* Center */
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  /*smooth transition scroll*/
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  /*snaps to image*/
}

.carousel__slide {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  /* 0 grow, 0 shrink, 100% width*/
  width: 100%;
}

.slide-img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /*images fill container*/
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  /*The center alignment of this box's scroll snap area, within the scroll container's snapport is a snap position in this axis.*/
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0;
}

* {
  -ms-overflow-style: none;
}

/*navigation bullets at the bottom*/
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

/*display navigation bullets in horizontal line as different bloxk elements*/
.carousel__navigation-item {
  display: inline-block;
}

/*makes the text into buttons*/
.carousel__navigation-button {
  background-color: #000;
  border: 0.5rem solid;
  border-radius: 50%;
  font-size: 0;
}

/*position, size of arrows (text turns to arrows*/
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin-top: 20rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

/*position of carousel arrow(buttons) left and right*/
.carousel::after,
.carousel__next {
  right: -1rem;
}

/*position of actual arrow withing circle, z-index allow arrow button to show above image*/
.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center;
  line-height: 4rem;
  pointer-events: none;
  /*The element is never the target of pointer events; however, pointer events may target its descendant elements if those descendants have pointer-events set to some other value. In these circumstances, pointer events will trigger event listeners on this parent element as appropriate on their way to/from the descendant during the event capture/bubble phases.*/
}

/*arrows*/
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}
/*# sourceMappingURL=main.css.map */