html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "_variables.scss";
@import "_navigation.scss";
@import "_menu.scss";
@import "_intro-image.scss";
@import "_variables.scss";
@import "_dt.scss";
